body {
    font: 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #000000;
    color: #adadad;
}

a {
    color: #adadad;
}

input[type="text"], textarea {
    background-color: #5e5e5e;
    color: #bababa;
    border: 0;
}

button {
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.my-padding {
    padding: 5px;
}

.border-1px {
    padding: 2px;
    margin: 2px;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 3px;
}

.btn {
    padding: 15px;
    margin: 15px;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 3px;
}

.btn:enabled {
    cursor: pointer;
}

.preformatted {
    background: rgba(77, 77, 77, 1.0);
    font-family: monospace;
    white-space: pre;
}
